
<div>
    <input [(ngModel)]="searchTerm" (ngModelChange)="filter($event)" type="text" />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Машина</td>
            <td>Пользователь</td>
            <td>Дата начала контракта</td>
            <td>Дата Окончания контракта</td>
            <td>Комментарий</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>
                <p *ngIf="getCarById(order.carId); let orderCar"> {{orderCar.brand}} {{orderCar.Class}}</p>
            </td>
            <td>
                <p *ngIf="getUserById(order.userId); let orderUser">
                    {{orderUser.firstName}} {{orderUser.lastName}}
                </p>
            </td>
            <td>
                <p> {{order.startContractDateTime | date : "shortDate"}}</p>
            </td>
            <td>
                <p> {{order.finishedContractDateTime | date : "shortDate"}}</p>
            </td>
            <td>
                <p> {{order.comment}}</p>
            </td>
            <td>
                <a [routerLink]="['edit', order.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(order.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-default" routerLink="/create">Добавить</a>
</div>
