<div class="form-group">
    <label>Машина</label>
    <input type="text" [(ngModel)]="order.carId" class="form-control" />
</div>
<div class="form-group">
    <label>Пользователь</label>
    <input type="text" [(ngModel)]="order.userId" class="form-control" />
</div>
<div class="form-group">
    <label>Дата начала контракта</label>
    <input type="text" [(ngModel)]="order.startContractDateTime" class="form-control" />
</div>
<div class="form-group">
    <label>Дата завершения контракта</label>
    <input type="text" [(ngModel)]="order.finishedContractDateTime" class="form-control" />
</div>
<div class="form-group">
    <label>Комментарий</label>
    <input type="text" [(ngModel)]="order.comment" class="form-control" />
</div>